<link rel='stylesheet' href = '/app.css'>
<h1>CwertiLe's Ranked TFT Stats</h1>
 
<p class="lead"> <strong><%= count %></strong> 
 results have been recorded! </p>

<form method="POST" action='/submit'>
 <input type="text" class="form" name="composition" placeholder="Enter TFT Composition">
 <input type="text" class="form" name="result" placeholder="Enter Result">


	
 <button>Submit</button>
	
</form>
<p class='lead'>The most successful composition has been ZZZ!</p>
<h2>
<button onclick='location.href = "https://tftstatsv2-iagpa.run-us-west2.goorm.io/results" ' >Go to Results</button>
</h2> 